
.popup {
    position: fixed;
    top: 20%;
    left: 30%;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-row{
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.input-label{
}

.input-field{
    width: 50%; 
    padding: 3px 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.input-select-field{
    width: 55%; 
    padding: 3px 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}




.blue-button {
    background-color: #2979ff; /* Vivid blue */
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .blue-button:hover {
    background-color: #1565c0; /* Darker blue on hover */
    transform: translateY(-2px);
  }
  
  .blue-button:active {
    background-color: #0d47a1; /* Even darker on click */
    transform: translateY(0);
  }