<!-- 
<app-popup [] [show]="showPopup" [itemType]="userKeys()" (close)="closePopup()"></app-popup> -->

<app-popup
  *ngIf="showPopup"
  [data]="userService.users"
  [schema]="userSchema"
  (close)="popupClosed()"
></app-popup>

<!-- app.component.html -->
<table mat-table [dataSource]="userService.users" class="mat-elevation-z8" style="width: 100%;">

  @for (userKey of userKeys(); track userKey) {
    <ng-container matColumnDef={{userKey}}>
      <th mat-header-cell *matHeaderCellDef> {{userSchema[userKey].name }}  </th>
      <td mat-cell *matCellDef="let user" [innerHTML]="user[userKey] | row"></td>
    </ng-container>   
  }

  <!-- Header and Row definitions -->
  <tr class="header" mat-header-row *matHeaderRowDef="userKeys()"></tr>
  <tr class="row" mat-row *matRowDef="let row; columns: userKeys();"></tr>

</table>

<button (click)="togglePopup()">Show Popup</button>



<router-outlet />
