
<app-popup
  *ngIf="showPopup"
  [data]="getData()"
  [schema]="getSchema()"
  (close)="popupClosed()"
  (dataSubmitted)="dataSubmitted($event)"
></app-popup>

<div class="main-body">

  <div class="sidebar">
    <button class="blue-button" (click)="usersClicked()">Users</button>
    <button class="blue-button" (click)="productsClicked()">Products</button>
  </div>

<div class="main" >

  <button class="blue-button" style="margin-bottom: 10px;" (click)="togglePopup()">جديد</button>

  <table mat-table [dataSource]="activeService.getData()" class="mat-elevation-z8" style="width: 100%; ">

    @for (key of getKeys(); track key) {
      <ng-container matColumnDef={{key}} >
        <th mat-header-cell *matHeaderCellDef> {{activeService.getSchema()[key].name }}  </th>
        <td mat-cell *matCellDef="let item" [innerHTML]="item[key] | row"></td>
      </ng-container>   
    }

    <tr class="header" mat-header-row *matHeaderRowDef="getKeys()"></tr>
    <tr class="row" mat-row *matRowDef="let row; columns: getKeys();"></tr>

  </table>

</div>


</div>

<router-outlet />
